@page "/TeacherView"
@using BlazorBootstrap
@using GraphQLClient.DataAccess
@using GraphQLClient.DataAccess.Model
@using System.ComponentModel.DataAnnotations
@using System.Drawing


@inject NavigationManager NavigationManager

<h3>Список преподавателей</h3>
@if (AllTeacher.Count == 0)
{
    <p><em>Loading ....</em></p>
}

else
{
    <Grid TItem="TeacherReturnModel"
          Class="table table-hover table-bordered table-striped"
          DataProvider="TeacherDataProvider"
          AllowPaging="true"
          AllowFiltering="true"
          AllowSorting="true"
          AutoHidePaging="true"
          PageSize="10"
          PageSizeSelectorVisible="true"
          PageSizeSelectorItems="@(new int[] { 5,10,20 })"
          Responsive="true">
        <GridColumns>
            <GridColumn TItem="TeacherReturnModel" HeaderText="Имя" PropertyName="Name" SortKeySelector="item => item.Name">
                @context.Name
            </GridColumn>
            <GridColumn TItem="TeacherReturnModel" HeaderText="Фамилия" PropertyName="SurName" SortKeySelector="item => item.SurName" TextAlignment="Alignment.Center">
                @context.SurName
            </GridColumn>
            <GridColumn TItem="TeacherReturnModel" HeaderText="Отчество" PropertyName="LastName" SortKeySelector="item => item.LastName">
                @context.LastName
            </GridColumn>
            <GridColumn TItem="TeacherReturnModel" HeaderText="Телефон" PropertyName="Phone" SortKeySelector="item => item.Phone">
                @context.Phone
            </GridColumn>
            <GridColumn TItem="TeacherReturnModel" HeaderText="Специальность" PropertyName="Specialty" SortKeySelector="item => item.Specialty">
                @context.Specialty
            </GridColumn>
            <GridColumn TItem="TeacherReturnModel" HeaderText="Карточка преподавателя" PropertyName="TeacherId" Filterable=false TextAlignment="Alignment.Center">
                <a href="/TaskOneView/@context.TeacherId"><img src="images/card.png" class="imgEmployer" /></a>
            </GridColumn>
        </GridColumns>
    </Grid>
    <a href="/CreateChild" class="btn btn-primary">Создать ребенка</a>
}

@code {
    private List<TeacherReturnModel> AllTeacher = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            string completeQuery = "query{allTeacherOnly{name,surName, lastName, specialty,phone}";
            string qraphQLQueryType = "allTeacherOnly";
            var result = await Query.ExceuteQueryReturnListAsyn<TeacherReturnModel>(qraphQLQueryType, completeQuery);
            AllTeacher = result;
        }
        catch (Exception ex)
        {
            throw ex;
        }
    }
    private async Task<GridDataProviderResult<TeacherReturnModel>> TeacherDataProvider(GridDataProviderRequest<TeacherReturnModel> request)
    {
        return await Task.FromResult(request.ApplyTo(AllTeacher));
    }
}
